/***************************************** calendar  *********************************************/
/* 整日汛笮 */
.fullCalendar-size {
    max-width: 900px;
    margin: 0 auto;
}
/* 改 header 字w色*/
.ui-widget-header {
	color:black;
}
/*去掉 字 影*/
.ui-overlay-a,.ui-page-theme-a , ui-panel-wrapper{
	text-shadow:none;
}
/*改背景色*/
div[name='calendar'] .ui-widget-content {
	background: #E0C586 url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
	/*background: #ABADB4 url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;*/
}
/*prev , next K排*/
.fc .fc-button-group > * {
	float:none;
	margin-left:0.2px;
}
/*today 跟prev,nextK排*/
.fc .fc-toolbar > * > * {
	margin-left:0;
}


/***************************************** End calendar  ****************************************/

/********************************* panel with listview *************************************/

/* Combined listview collapsible menu. */
/* Unset negative margin bottom on the listviews. */
.modify_listview_panel .ui-panel-inner > .ui-listview { margin-bottom: 0; }
/* Unset top and bottom margin on collapsible set. */
.modify_listview_panel .ui-collapsible-set { margin: 0; }
/* The first collapsible contains the collapsible set. Make it fit exactly in the collapsible content. */
.modify_listview_panel .ui-panel-inner > .ui-collapsible > .ui-collapsible-content { padding-top: 0; padding-bottom: 0;  border-bottom: none; }
/* Remove border top if a collapsible comes after a listview. */
.modify_listview_panel .ui-panel-inner  > .ui-collapsible > .ui-collapsible-heading .ui-btn,
.modify_listview_panel .ui-collapsible.ui-first-child .ui-collapsible-heading .ui-btn { border-top: none; }
/* Give the first collapsible heading the same padding, i.e. same height, as the list items. */
.modify_listview_panel .ui-collapsible-heading .ui-btn-inner { padding: .7em 40px .7em 15px; }
/* Give the other collapsible headings the same padding and font-size as the list divider. */
.modify_listview_panel .ui-collapsible-set .ui-collapsible-heading .ui-btn-inner { padding: .5em 40px .5em 15px; font-size: 14px; }


/********************************* End panel with listview *************************************/

/********************************* talkBox *************************************/
#talkBox {
	width:97%;
	height:400px;
	overflow:auto; 
	background: #dddddd;
	border: 2px solid #a1a1a1;
	border-radius: 15px;
	/*字不靠著框*/
	padding-left:10px;
	padding-right:10px;
}
/********************************* End talkBox  *************************************/

/********************************* icon star change color to yellow  *************************************/
.ui-icon-starYellow:after{
background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23fff10a%22%20points%3D%2214%2C5%209%2C5%207%2C0%205%2C5%200%2C5%204%2C8%202.625%2C13%207%2C10%2011.375%2C13%2010%2C8%20%22%2F%3E%3C%2Fsvg%3E")
}

/********************************* End icon star change color to yellow  *************************************/

/********************************* center thumbnailImage  *************************************/
.thumbnailImageCenter {
	padding: 1.4% ;
}

/********************************* End center thumbnailImage  *************************************/
.toButtom {
	margin-bottom:  0px;
	padding-bottom: 0px;
}























/**/